@import url("style.css");

img.contacto{
    width: 70px;
}
section.contacto{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 25px;
    
}

.contacto div{ 
    display: flex;
    align-items: center;
    width: 30%;
    margin: 0 0 25px;
}

.contacto div img{
    margin-right: 10px;
}

.contacto p {
    text-align: left;
    color: #F25970;
    font-size: 1.25em;
}